.mid {
    margin: 0px 195px;
    width: 676px;
    margin-left: 116px;
}
.main {
    font-size: 67px;
    margin: 28px auto;
    margin-left: 207px;
    font-style: italic;
    color: aquamarine;
    width: 507px;
    height: 194px;
}
.bot {
    margin: 180px 500px;
    margin-left: 253px;
}